{
  "LDAP_BASE":"dc={{ auth0.sub_domain }},dc={{ auth0.domain }},dc={{ auth0.tld }}",
  "LDAP_URL":"ldap://{{ auth0.ldap_server }}",
  "LDAP_BIND_USER":"{{ auth0.ldap_user }}",
  "LDAP_BIND_PASSWORD":"{{ auth0.ldap_password }}",
  "PROVISIONING_TICKET":"{{ auth0.ticket_url }}"
}
